<!DOCTYPE html>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{%=o.htmlWebpackPlugin.files.css%}" media='all'>
<body>
    <div id='root'>
    </div>
</body>
